In [14]:
import os
import os.path
import numpy as np
#import argparse
import cv2

%matplotlib inline

In [6]:
from pathlib import Path

In [10]:
print(Path().absolute())

c:\Users\jarma\Documents\CIMAT\3erSem\Temas Selectos CD\ProyectoFinal

In [8]:
folder_path = r"C:\Users\jarma\Documents\CIMAT\3erSem\Temas Selectos CD\ProyectoFinal\dataset\img"
folder_path = Path(folder_path)
img_name = "32x310100001.png"
txt_name = "32x310100001.txt"

In [12]:
img_path = folder_path / img_name
img_path

WindowsPath('C:/Users/jarma/Documents/CIMAT/3erSem/Temas Selectos CD/ProyectoFinal/dataset/img/32x310100001.png')

In [72]:
frame = cv2.imread(str(img_path))

In [73]:
h, w, _ = frame.shape

In [20]:
print(w)
print(h)

3840
2160

In [74]:
scale_percent = 25 / 100
res_h = int(h * scale_percent)
res_w = int(w * scale_percent)
dim = (res_w, res_h)
  
# resize image
resized = cv2.resize(frame, dim, interpolation = cv2.INTER_AREA)

In [75]:
cv2.imshow('image',resized)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [33]:
txt_path = folder_path / txt_name

In [40]:
with txt_path.open() as f: print(f.readline())

0 0.465374 0.473938 0.024007 0.098456

In [46]:
import pandas as pd

data = pd.read_csv(txt_path,sep=" ",header=None)
data

    0         1         2         3         4
0   0  0.465374  0.473938  0.024007  0.098456
1   0  0.704063  0.358108  0.063712  0.048263
2   0  0.906279  0.231660  0.069252  0.057915
3   0  0.960757  0.060811  0.041551  0.121622
4   0  0.314866  0.720077  0.072022  0.046332
5   0  0.226685  0.706564  0.058172  0.042471
6   0  0.120960  0.698842  0.057248  0.057915
7   4  0.029086  0.780888  0.034164  0.021236
8   6  0.305171  0.689189  0.012004  0.019305
9   6  0.515235  0.957529  0.012927  0.027027
10  6  0.733149  0.329151  0.011080  0.025097
11  6  0.774238  0.330116  0.021237  0.023166
12  5  0.797784  0.315637  0.029548  0.028958

In [59]:
data.iloc[0,1]

0.465374

In [54]:
classes_path = Path(r"C:\Users\jarma\Documents\CIMAT\3erSem\Temas Selectos CD\ProyectoFinal\dataset\obj.names")
the_classes = pd.read_csv(classes_path,header=None,sep=" ")[0].to_list()
the_classes

['Auto', 'Camion', 'Autobus', 'Combi', 'Moto', 'Bici', 'Peaton']

In [95]:
output = resized.copy()

In [91]:
centerX = int(data.iloc[0,1] * res_w)
centerY = int(data.iloc[0,2] * res_h)
widthX = int(data.iloc[0,3] * res_w)
heightY = int(data.iloc[0,4] * res_h)
startX = centerX - int(widthX/2)
startY = centerY - int(heightY/2)
endX = centerX + int(widthX/2)
endY = centerY + int(heightY/2)

In [92]:
# inicializa colores
COLORS = np.random.uniform(0, 255, size=(len(the_classes), 3))
# twist because imread and imwrite works in BGR
COLORS[0] = 51, 204, 51
COLORS[1] = 0, 51, 255

In [96]:
label = "{}".format(the_classes[data.iloc[0,0]])
cv2.rectangle(output, (startX, startY), (endX, endY),
    COLORS[0],2)

y = startY - 10 if startY - 10 > 10 else startY + 10
cv2.putText(output, label, (startX, y),
    cv2.FONT_HERSHEY_SIMPLEX, 0.4, COLORS[1], 1)

array([[[175, 190, 199],
        [171, 187, 197],
        [168, 186, 198],
        ...,
        [ 52,  46,  40],
        [ 51,  47,  37],
        [ 53,  49,  38]],

       [[176, 191, 200],
        [169, 185, 195],
        [172, 189, 202],
        ...,
        [ 58,  52,  47],
        [ 52,  45,  43],
        [ 52,  45,  43]],

       [[178, 193, 202],
        [170, 186, 196],
        [166, 184, 196],
        ...,
        [ 58,  51,  48],
        [ 56,  49,  47],
        [ 62,  54,  53]],

       ...,

       [[ 29,  79,  59],
        [ 26,  96,  80],
        [ 52, 127, 103],
        ...,
        [ 64, 106,  79],
        [ 55, 102,  80],
        [ 29,  58,  47]],

       [[ 53, 122,  98],
        [ 37, 111,  93],
        [ 52, 134, 101],
        ...,
        [ 25,  50,  40],
        [ 25,  55,  45],
        [ 16,  48,  38]],

       [[ 36, 112,  87],
        [ 43, 130,  97],
        [ 32, 136,  99],
        ...,
        [  8,  27,  13],
        [ 15,  40,  24],
        [ 17,  56,  38]]], dtype=uint8)

In [97]:
cv2.imshow('image',output)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [104]:
output = resized.copy()
for i in range(data.shape[0]):
    centerX = int(data.iloc[i,1] * res_w)
    centerY = int(data.iloc[i,2] * res_h)
    widthX = int(data.iloc[i,3] * res_w)
    heightY = int(data.iloc[i,4] * res_h)
    startX = centerX - int(widthX/2)
    startY = centerY - int(heightY/2)
    endX = centerX + int(widthX/2)
    endY = centerY + int(heightY/2)

    label = "{}".format(the_classes[data.iloc[i,0]])
    output = cv2.rectangle(output, (startX, startY), (endX, endY),
        COLORS[0],2)

    y = startY - 10 if startY - 10 > 10 else startY + 10
    output = cv2.putText(output, label, (startX, y),
        cv2.FONT_HERSHEY_SIMPLEX, 0.4, COLORS[1], 1)

In [105]:
cv2.imshow('image',output)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [120]:
all_images = [img.name for img in folder_path.glob('*.png')]
all_txts = [txt.name for txt in folder_path.glob('*.txt')]
all_names = [img.stem for img in folder_path.glob('*.png')]

In [124]:
pd.Series(all_images).to_csv(Path.cwd()/"out"/"img.txt",header=None,sep=" ",index=False)
pd.Series(all_txts).to_csv(Path.cwd()/"out"/"txts.txt",header=None,sep=" ",index=False)
pd.Series(all_names).to_csv(Path.cwd()/"out"/"names.txt",header=None,sep=" ",index=False)

In [125]:
print(len(all_txts))
print(len(all_images))

1133
1133

In [ ]:
# randomizer

In [143]:
the_names = pd.read_csv(Path.cwd()/"out"/"names.txt",header=None,sep=" ").iloc[:,0].to_list()

In [181]:
#np.random.seed(10)
r = np.random.randint(0,len(the_names))
temp_name = the_names[r]
img_path = folder_path / (temp_name + ".png")
txt_path = folder_path / (temp_name + ".txt")

data = pd.read_csv(txt_path,sep=" ",header=None)
frame = cv2.imread(str(img_path))
h, w, _ = frame.shape

scale_percent = 25 / 100
res_h = int(h * scale_percent)
res_w = int(w * scale_percent)
dim = (res_w, res_h)
resized = cv2.resize(frame, dim, interpolation = cv2.INTER_AREA)

output = resized.copy()
for i in range(data.shape[0]):
    centerX = int(data.iloc[i,1] * res_w)
    centerY = int(data.iloc[i,2] * res_h)
    widthX = int(data.iloc[i,3] * res_w)
    heightY = int(data.iloc[i,4] * res_h)
    startX = centerX - int(widthX/2)
    startY = centerY - int(heightY/2)
    endX = centerX + int(widthX/2)
    endY = centerY + int(heightY/2)

    label = "{}".format(the_classes[data.iloc[i,0]])
    output = cv2.rectangle(output, (startX, startY), (endX, endY),
        COLORS[0],2)

    y = startY - 10 if startY - 10 > 10 else startY + 10
    output = cv2.putText(output, label, (startX, y),
        cv2.FONT_HERSHEY_SIMPLEX, 0.4, COLORS[1], 1)
    
cv2.imshow('image',output)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [186]:
data

    0         1         2         3         4             5
0   0  0.524931  0.183398  0.024931  0.104247  32x310101301
1   0  0.465374  0.476834  0.022161  0.100386  32x310101301
2   0  0.703139  0.357143  0.058172  0.046332  32x310101301
3   0  0.908587  0.233591  0.059095  0.057915  32x310101301
4   0  0.957987  0.064672  0.036011  0.125483  32x310101301
5   0  0.313481  0.722973  0.074792  0.048263  32x310101301
6   0  0.226223  0.708494  0.059095  0.042471  32x310101301
7   0  0.118652  0.696911  0.054478  0.050193  32x310101301
8   4  0.582641  0.271236  0.025854  0.028958  32x310101301
9   6  0.739612  0.375483  0.009234  0.025097  32x310101301
10  6  0.883195  0.246139  0.019391  0.021236  32x310101301
11  6  0.882271  0.223938  0.021237  0.023166  32x310101301
12  6  0.301939  0.695946  0.014774  0.028958  32x310101301

In [187]:
for i in range(len(the_names)):
    
    temp_name = the_names[i]
    img_path = folder_path / (temp_name + ".png")
    txt_path = folder_path / (temp_name + ".txt")

    data = pd.read_csv(txt_path,sep=" ",header=None)
    frame = cv2.imread(str(img_path))
    h, w, _ = frame.shape
    
    data = pd.read_csv(txt_path,sep=" ",header=None, 
                       names=["class", "cX", "cY", "wX", "hY"])
    
    data["name"] = temp_name
    data["Wraw"] = w
    data["Hraw"] = h
    
    if i == 0:
        vault = data.copy()
    else:
        vault = vault.append(data)

In [192]:
vault.head()

   class        cX        cY        wX        hY          name  Wraw  Hraw
0      0  0.465374  0.473938  0.024007  0.098456  32x310100001  3840  2160
1      0  0.704063  0.358108  0.063712  0.048263  32x310100001  3840  2160
2      0  0.906279  0.231660  0.069252  0.057915  32x310100001  3840  2160
3      0  0.960757  0.060811  0.041551  0.121622  32x310100001  3840  2160
4      0  0.314866  0.720077  0.072022  0.046332  32x310100001  3840  2160

In [193]:
first_column = vault.pop('name')
  
vault.insert(0, 'name', first_column)

In [194]:
vault.head()

           name  class        cX        cY        wX        hY  Wraw  Hraw
0  32x310100001      0  0.465374  0.473938  0.024007  0.098456  3840  2160
1  32x310100001      0  0.704063  0.358108  0.063712  0.048263  3840  2160
2  32x310100001      0  0.906279  0.231660  0.069252  0.057915  3840  2160
3  32x310100001      0  0.960757  0.060811  0.041551  0.121622  3840  2160
4  32x310100001      0  0.314866  0.720077  0.072022  0.046332  3840  2160

In [195]:
vault.to_csv(Path.cwd()/"out"/"all_data.txt",index=False)

In [ ]:
# randomizer que lea cualquier imagen
# hojota con toda la info
# leer en qu√© formato debe estar para primer entrenamiento
# unificar clases? solo vehiculos? 1 clase, (carro, camioneta)?
# crear recuadrito blanco para escribir clase
# crear github, subir este archivo, tras limpiar

In [ ]:
# extraer 10% de todo
# separar en train y test, y label e img

In [208]:
np.random.seed(42)
how_many = int(len(the_names) * 0.1)
chosen = list(np.random.choice(the_names,how_many,replace=False))

In [209]:
from sklearn.model_selection import train_test_split
chosen_train, chosen_test = train_test_split(chosen, test_size=0.25, random_state=42)

In [211]:
pd.Series(chosen_train).to_csv(Path.cwd()/"out"/"chosen_train_ten.txt",header=None,sep=" ",index=False)
pd.Series(chosen_test).to_csv(Path.cwd()/"out"/"chosen_test_ten.txt",header=None,sep=" ",index=False)

In [212]:
import pathlib
import shutil

dataset_ten_path = Path(r"C:\Users\jarma\Documents\CIMAT\3erSem\Temas Selectos CD\ProyectoFinal\dataset_ten")

In [ ]:

for file in chosen_train:
    
    img_path = folder_path / (file + ".png")
    txt_path = folder_path / (file + ".txt")
    
    new_img_path = dataset_ten_path / "train" / "images" / (file + ".png")
    new_txt_path = dataset_ten_path / "train" / "labels" / (file + ".txt")

    shutil.copy2(str(img_path), str(new_img_path))
    shutil.copy2(str(txt_path), str(new_txt_path))

In [ ]:
for file in chosen_test:
    
    img_path = folder_path / (file + ".png")
    txt_path = folder_path / (file + ".txt")
    
    new_img_path = dataset_ten_path / "test" / "images" / (file + ".png")
    new_txt_path = dataset_ten_path / "test" / "labels" / (file + ".txt")

    shutil.copy2(str(img_path), str(new_img_path))
    shutil.copy2(str(txt_path), str(new_txt_path))